h1 {
  font-size: 7rem;
  text-align: center;
  color: darkorange;
}
body {
  background-color: darkslategray;
  color: azure;
}

.set {
  text-align: center;
  /*height: 300px;*/
}

.drum {
  outline: none;
  border: 10px solid burlywood;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: darkblue;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;
  margin: 10px;
  /* background-color: ; */
  /* background-color: white; */
}

.w {
  background: url("crash.png");
}

.a {
  background: url("snare.png");
}

.s {
  background: url("kick.png");
}

.d {
  background: url("tom1.png");
}

.j {
  background: url("tom2.png");
}

.k {
  background: url("tom3.png");
}

.l {
  background: url("tom4.png");
}

footer {
  text-align: center;
}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
